<h1>
  This application is a mockery of all computer science ethics; AND YET it is 
  still far more tolerable than anything written in Ada. This fakery was "built"
  using the <strike>Ruby on Rails</strike> Ruby-Go-Round framework.
</h1>