<div>
  <%= icon('clock-o', class: 'big-icon') %>
  <%= icon('sun-o', class: 'big-icon') %>
  <%= icon('smile-o', class: 'big-icon') %>
</div>
<div class="col-md-4">
  <select multiple class="form-control">
    <option selected id="special-time"><%= Time.now.in_time_zone("Central Time (US & Canada)").strftime("%l:%M %p") %></option>
  </select>
  <%# content_tag(:btn, Time.now.in_time_zone("Central Time (US & Canada)").strftime("%l:%M %p"), class: "btn btn-lg btn-default time-param") %>
</div>
<div class="col-md-4">
  <select multiple class="form-control" id="weather">
    <option selected disabled id="opt-disabled">weather</option>
  </select>
</div>
<div class="col-md-4">
  <select multiple class="form-control" id="mood">
    <option selected disabled id="opt-disabled">mood + genre</option>
  </select>
</div>
<p class="info">use ctrl-click (⌘-click on mac) or tap on mobile to select multiple items</p>
<input type="text" class="special-box-other-one" id="playlist-name" placeholder="Playlist Name (optional)">
<br>
<h1 class="center info-btn" id="goto-party" onclick="createPlaylist();">start the party</h1>
<script>
  categorizeTags();
</script>
<%# select_tag 'recipients', recipients_options(@chosen_recipient), required: false, multiple: true, class: 'form-control chosen-it' %>
