<table style="width:100%" id="songs">
    <tr>
      <th></th>
      <th>Songs</th>
      <th>Artist</th>
      <th>Album</th>
      <th>Tags</th>
    </tr>
</table>
<%= link_to content_tag(:h1, "jam on", class: "center info-btn", id: "goto-play"), play_path %>
