<ul class="pagination">
  <li><a onclick="back();"><<</a></li>
  <li><a onclick="forward();">>></a></li>
</ul>
<table style="width:100%" id="songs">
</table>
<%= link_to content_tag(:h1, "jam on", class: "center info-btn", id: "goto-play"), play_path %>
