<ul class="pagination">
  <li><a onclick="back();"><<</a></li>
  <li><a onclick="forward();">>></a></li>
</ul>
<div class="table-responsive">
  <table style="width:100%" id="songs">
  </table>
</div>
<%= link_to content_tag(:h1, "jam on", class: "center info-btn", id: "goto-play"), play_path %>
