@import "bootstrap-sprockets";
@import "bootstrap";


body {
  background: #FF4E50; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #FF4E50 , #F9D423); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #FF4E50 , #F9D423); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Amatic SC', cursive;
}

.navbar-right {
    margin-right: 15px;
}

.info-btn {
  font-size: 25px;
  border-radius: 12px;
  padding: 1px 1px;
  font-family: 'Amatic SC', cursive;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  &:hover {
    color: #F8F8F8;
  }
}

.navbar {
    background: transparent;
    border: transparent;
}

#logo {
  color: white;
  text-align: center;
  font-size: 60px;
  &:hover {
    color: #F8F8F8;
  }
}

a, u, a:hover, a:focus {
    text-decoration: none;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  text-align: center;
  small {
    float: left;
  }
  ul {
    /*float: right;*/
    list-style: none;
    li {
      /*float: left;
      margin-left: 15px;*/
    }
  }
}

.fix-to-bottom {
  position: fixed;
  width: 100%;
  margin-bottom: 10px;
  bottom: 0px;
  h1 {
    display: inlineg;
  }
}