@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background: #FF4E50; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #FF4E50 , #F9D423); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #FF4E50 , #F9D423); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Amatic SC', cursive;
}

.help-me {
  color: white;
}

.navbar-right {
    margin-right: 15px;
}

.info-btn {
  font-size: 25px;
  border-radius: 12px;
  padding: 1px 1px;
  font-family: 'Amatic SC', cursive;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  &:hover {
    color: #F8F8F8;
  }
}

.navbar {
    background: transparent;
    border: transparent;
}

#logo {
  color: white;
  text-align: center;
  font-size: 100px;
  &:hover {
    color: #F8F8F8;
  }
}

#spotify-login {
  color: white;
  text-align: center;
  font-size: 100px;
  &:hover {
    color: #F8F8F8;
  }
  border: 4px solid white;
  border-radius: 100000px;
  width: 530px;
  display: inline-block;
  @media(max-width: 600px) {
    width: 400px;
    font-size: 80px;
  }
  @media(max-width: 480px) {
    width: 300px;
    font-size: 60px;
  }
  @media(max-width: 330px) {
    width: 300px;
    margin-left: -5px;
    font-size: 60px;
  }
}

#slogan {
  color: white;
  text-align: center;
  font-size: 100px;
  &:hover {
    color: #F8F8F8;
  }
  margin-top: 10%;
  @media(max-width: 600px) {
    font-size: 80px;
  }
  @media(max-width: 480px) {
    font-size: 60px;
  }
}

a, u, a:hover, a:focus {
    text-decoration: none;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  text-align: center;
  small {
    float: left;
  }
  ul {
    /*float: right;*/
    list-style: none;
    li {
      /*float: left;
      margin-left: 15px;*/
    }
  }
}

.footer-buttons {
  width: 100%;
  margin-bottom: 10px;
  h1 {
    display: inline;
  }
}

table, th, td {
  border-bottom: 2px solid white;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  color: white;
  input {
    color: black;
  }
}

th {
  font-size: 30px;
}

td {
  font-size: 40px;
}

i {
  color: white;
  margin-left: 92px;
  margin-right: 92px;
  margin-bottom: 50px;
  @media(max-width: 1200px) {
    margin-left: 60px;
    margin-right: 60px;
  }
  @media(max-width: 1000px) {
    margin-left: 45px;
    margin-right: 45px;
  }
  @media(max-width: 768px) {
    margin-left: 15px;
    margin-right: 15px;
  }
}

.big-icon.fa {
  font-size: 15em;
  @media(max-width: 1000px) {
    font-size: 10em;
  }
  @media(max-width: 550px) {
    font-size: 7em;
  }
  @media(max-width: 400px) {
    font-size: 5em;
  }
}

.form-control {
  text-align: center;
  font-size: 20px;
  max-height: 100px;
  margin-bottom: 20px;
}

.info {
  color: white;
  margin-top: 10px;
  font-size: 20px;
}

#special-time {
  font-size: 70px;
}

#opt-disabled {
  color: black;
  font-size: 40px;
}

.badge {
  a, a:hover, a:focus {
    cursor: pointer;
    cursor: hand;
    color: white;
  }
   background: transparent;
   border-radius: 5px;
   padding: 1px 1px;
   border-style: solid;
   border-width: 1px;
   font-size: 20px;
   margin-left: 5px;
   margin-right: 5px;
}

.special-btn {
  height: 39px;
  font-size: 21px;
  margin-bottom: 11px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.special-box {
  height: 38px;
  line-height: 30px;
  font-size: 20px;
  margin-bottom: 12px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.special-box-other-one {
  line-height: 30px;
  font-size: 20px;
  width: 200px;
  text-align: center;
}

#goto-play {
  border: 2px solid white;
  border-radius: 100000px;
  width: 80px;
  text-align: center;
  display: inline-block;
  padding-bottom: 4px;
}

#goto-party {
  border: 2px solid white;
  border-radius: 100000px;
  width: 120px;
  text-align: center;
  display: inline-block;
  padding-bottom: 4px;
}